body {
    font-family: Arial;
    background: #0f172a;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}

input {
    width: 70%;
    padding: 8px;
}

button {
    padding: 8px;
    background: #38bdf8;
    border: none;
    cursor: pointer;
}

li {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    background: #334155;
    padding: 8px;
    border-radius: 5px;
}

.completed {
    text-decoration: line-through;
    opacity: 0.6;
}